{% extends 'PpgwBundle::layout.html.twig' %}

{% block title %}Classifieds{% endblock%}

{% block body %}
    <header class="nav-header" >
        <h1>Create Ad</h1>
        <ul class="page-nav">
            <li><a href="#">Save</a></li>        
            <li><a href="#">Cancel</a></li>
        </ul>
    </header>
    <hr class="nav-hr">
    
{% endblock %}