{# empty Twig template #}

{% extends 'PpgwBundle::layout.html.twig' %}

{% block title %}Disclaimer{% endblock%}

{% block body %}
    <header>
        <h1>Disclaimer</h1>
    </header>
{% endblock %}