{# empty Twig template #}

{% extends 'PpgwBundle::layout.html.twig' %}

{% block title %}Garden Supplies{% endblock%}

{% block body %}
    <header>
        <h1>Garden Supplies</h1>
    </header>
{% endblock %}