{# empty Twig template #}

{% extends 'PpgwBundle::layout.html.twig' %}

{% block title %}Instructables{% endblock%}

{% block body %}
    <header>
        <h1>Instructables</h1>
    </header>
{% endblock %}